
<head>
  <meta charset="UTF-8">
  <title>咯咯哒</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="description" content="咕咕咕">
  <meta name="keywords" content="咯咯哒">
  <link rel="stylesheet" href="style/main.css">
  <link rel="stylesheet" href="style/normalize.css">
</head>
